<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="images/logo.svg" height="50" width="50">
      </a>
    </div>
  </div>
</nav>
<div class="container text-center">
  <h2>Welcome to my boutique!</h2>
  <img src="images/ganga.png">
  <p class="lead">
    I can provide custom designed t-shirts, business cards and caps for your official or personal needs
  </p>
  <button type="button" class="btn btn-default">View my products</button>
</div>
