<div class="container text-center animated fadeIn">
  <h1>Welcome to my boutique!</h1>
  <img src="images/ganga.png">
  <p class="lead">
    I can provide custom designed t-shirts, business cards and caps for your needs
  </p>
  {{#link-to 'products'}}
    <button type="button" class="btn btn-default">View my products</button>
  {{/link-to}}
</div>
{{outlet}}
