<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 animated fadeIn text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">T-Shirts</h3>
        </div>
        <div class="panel-body">
          <img src="http://placeholder.pics/svg/200" height="200" width="200">
          <br>
          <br>
          <button type="button" class="btn btn-primary">View my collection</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 animated fadeIn text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Business cards</h3>
        </div>
        <div class="panel-body">
          <img src="http://placeholder.pics/svg/200" height="200" width="200">
          <br>
          <br>
          <button type="button" class="btn btn-primary">View my collection</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 animated fadeIn text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Caps</h3>
        </div>
        <div class="panel-body">
          <img src="http://placeholder.pics/svg/200" height="200" width="200">
          <br>
          <br>
          <button type="button" class="btn btn-primary">View my collection</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
